body 
{
   background: rgba(20,0,0,1)
}
.sidenav {
  width: 140px;
  position: fixed;
  z-index: 1;
  top: 10px;
  left: 10px;
  background: #003747;
  border-radius:5px;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ffd4d4;
  display: block;
}

.sidenav a:hover {
  color: #93cec3;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
h1 {
    color: #ffd4d4;
    font-family: "Helvetica", sans-serif;
    font-size: 25px;
    text-align: center;
}

.Creature {
    width:400px;
    padding:10px;
    margin:30px;
    margin-bottom:30px;
    background: #2b0000;
    border: 2px solid red;
    border-radius:5px;
    display: block;
    margin: auto;
    float: right;
    flex-grow:0;
}

.Creature img {
    width: 300px;
    height: 300px;
    border: 2px solid red;
    margin-right: 20px;
    border-radius: 5px;
    display: block;
    margin: auto;
}

h2 {
    color: #ff5555;
    font-family: "Arial", sans-serif;
    text-align: center;
    flex-wrap: wrap;
}

.paragraphs {
    display: flex;
    flex-wrap: wrap;
}

.paragraph {
    min-width:50px;
    padding:10px;
    margin:30px;
    margin-bottom:30px;
    background: #2b0000;
    border: 2px solid red;
    border-radius:5px;
    display: block;
    margin: auto;
    float: left;
    flex-grow:1;
}

.paragraph img {
    width: 256px;
    height: 224px;
    border: 2px solid aquamarine;
    margin-right: 10px;
    border-radius: 5px;
    display: block;
    margin: auto;
}

.download {
    padding:2px;
    background:#1aa780;
    border-radius:5px;
}

.describe {
    height: 100px;
}

.galleries {
    display: flex;
    flex-wrap: wrap;
}


.gallery {
    width:450px;
    padding:10px;
    margin:15px;
    margin-bottom:30px;
    background:#58b6a6;
    border-radius:5px;
    box-shadow:5px 8px #003747;
}

.gallery img {
    width:425px;
    border: 2px solid aquamarine;
    margin-right: 10px;
    border-radius: 5px;
    display: block;
    margin: auto;
    align-items: center;
}
.music {
  width: 100px;
  height: 50px;
  position: fixed;
  z-index: 1;
  right: 10px;
  top: 10px;
  background: #003747;
  border-radius:5px;
  overflow-x: hidden;
  padding: 8px 0;
}

p {
    font-family: sans-serif;
    text-align: left;
    font-weight: 700;
   color: #ffd4d4;
}

h {
    font-family: sans-serif;
    text-align: left;
    font-weight: 800;
    font-size: 15px;
   color: #ffd4d4;
}
